<h1>Current Users on StudioB</h1>

<% @users.each do |user| %>
    <img src=<%=user.picture%> class="user_index">
    <div><%= link_to user.name, user %> - <%= user.location %></div>
    <br>
<% end %>


<%= button_to "Back to My Profile", user_path(current_user), method: "get" %>
<br>
<%= button_to "Log Out", logout_path, method: "get" %>
