<h1>Create a New User on StudioB</h1>


<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <br>
    <%= f.label :location, "Current Location" %>
    <%= f.text_field :location %>
    <br>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
    <br>
    <%= f.label :can_travel, "Willing to Travel?" %>
    <%= f.check_box :can_travel %>
    <br>
    <%= f.label :picture %>
    <%= f.text_field :picture %>
    <br>
    <%= f.label :stage_name, "Stage/Performance Name" %>
    <%= f.text_field :stage_name %>
    <br>
    <br>
    <%= f.submit %>
<% end %>