<img src=<%=@user.picture%> class="user">

<h1>Welcome, <%=@user.name%></h1> 

<h3>Personal Information</h3>
<ul>
    <li><p>Full Name: <%= @user.name %></p></li>
    <li><p>Email: <%= @user.email %></p></li>
    <li><p>Current Location: <%= @user.location %></p></li>
    <li><p>Bio: <%= @user.bio %></p></li>
    <% if @user.can_travel %>
    <li><p>Willing to Travel?: Yes</p></li>
    <% else %>
    <li><p>Willing to Travel?: No</p></li>
    <% end %>
</ul>

<% if @user.roles.exclude?(Role.find(4)) %>
    <h3>Preferred Musical Genres</h3>
        <ul>
            <% @user.genres.each do |genre| %>
                <li><%= genre.name %></li>
                <br>
            <% end %>
        </ul>
<% end %>


<h3>Current Professional Roles</h3>
<ul>
    <% @user.roles.each do |role| %>
        <% if role == Role.find(4)%>
        <li><%= role.name %> - <%= link_to Studio.find_by(studio_manager_id: @user.id).name, Studio.find_by(studio_manager_id: @user.id)  %></li> 
        <br>
        <% else %>
        <li><%= role.name %></li>
        <br>
        <% end %>
    <% end %>
</ul>

<% if @user.instruments.any? %>
    <h3>Current Instruments</h3>
        <% @user.instruments.each do |inst| %>
            <ul>
                <li><h4><%= inst.name %></h4></li>
                Brand: <%= inst.brand %><br>
                Category: <%= inst.category %><br>
                Type: <%= inst.inst_type %><br>
            </ul>
        <% end %>  
<% end %>