<img src=<%=@user.picture%> class="user">

<% if @user.id == current_user.id %>
<h1>Welcome, <%=@user.name%></h1> 
<% else %>
<h1><%=@user.name%></h1> 
<% end %>

<h3>Personal Information</h3>
<ul>
    <li><p>Full Name: <%= @user.name %></p></li>
    <% if @user.stage_name %>
    <li><p>Stage Name: <%= @user.stage_name %></p></li>
    <% end %>
    <li><p>Email: <%= @user.email %></p></li>
    <li><p>Current Location: <%= @user.location %></p></li>
    <li><p>Bio: <%= @user.bio %></p></li>
    <% if @user.can_travel %>
    <li><p>Willing to Travel?: Yes</p></li>
    <% else %>
    <li><p>Willing to Travel?: No</p></li>
    <% end %>
</ul>

<% if @user.roles.exclude?(Role.find(4)) %>
    <h3>Preferred Musical Genres</h3>
        <ul>
            <% @user.genres.each do |genre| %>
                <li><%= genre.name %></li>
                <br>
            <% end %>
        </ul>
<% end %>


<h3>Current Professional Roles</h3>

<ul>
    <% @user.roles.each do |role| %> 
        <% if role == Role.find(4) %>
            <% Studio.where(studio_manager_id: @user.id).each do |studio| %>
                <li>Studio Manager - <%= link_to studio.name, studio  %>
            <% end %>
        <% else %>
            <li><%= role.name %></li>
        <% end %>
    <% end %>
</ul>

<% if @user.instruments.any? %>
    <h3>Current Instruments</h3>
        <% @user.instruments.each do |inst| %>
            <ul>
                <li><h4><%= inst.name %></h4></li>
                Brand: <%= inst.brand %><br>
                Category: <%= inst.category %><br>
                Type: <%= inst.inst_type %><br>
            </ul>
        <% end %>  
<% end %>


<% if @user.id == current_user.id %>
    <%= button_to "Edit User", edit_user_path(@user), method: "get" %>
    <br>
    <%= button_to "Delete User", @user, method: "delete" %>
    <br>
    <% if @user.roles.include?(Role.find(4)) %>
        <%= button_to "Add Studio", new_studio_path, method: "get" %>
        <br>
        <%= button_to "Add Studio Session", new_studio_session_path, method: "get" %>
    <% end %>
<% end %>


