<h1>Studio Session <%= @studio_session.id %></h1>

<h3>Date Created</h3>
<p><%= @studio_session.created_at.strftime("%A, %B %e at %l:%M %p") %></p>

<h3>Last Updated</h3>
<p><%= @studio_session.updated_at.strftime("%A, %B %e at %l:%M %p") %></p>

<h3>Location</h3>
<p><%= link_to @studio_session.studio.name, @studio_session.studio %></p>

<h3>Scheduled At</h3>
<p><%= @studio_session.session_time.strftime("%A, %B %e at %l:%M %p") %></p>

<h3>Duration</h3>
<p><%= @studio_session.duration %> hours</p>

<h3>Special Requests</h3>
<p><%= @studio_session.special_req %></p>

 <h3>Session Cost</h3>
<p>$<%= @studio_session.cost %> USD</p>

<h3>Attendees: </h3>
<% @studio_session.users.each do |user| %>
    <ul>
        <li><%= link_to user.name, user %></li>
    </ul>
<% end %>
<br>

<% if @studio_session.studio.studio_manager_id == current_user.id%>
    <%= button_to "Edit Session", edit_studio_session_path(@studio_session), method: "get" %>
    <br>
    <%= button_to "Delete Session", @studio_session, :method => :delete %>
<% end %>

<br>
<%= button_to "Back to My Profile", user_path(current_user), method: "get" %>
<br>
<%= button_to "Log Out", logout_path, method: "get" %>