<img src=<%=@studio.picture%> class="studio">

<h1><%=@studio.name%></h1> 

<h3>Studio Information</h3>
<ul>
    <li><p>Location: <%= @studio.location %></p></li>
    <li><p>Hourly Rate: $<%= @studio.hourly_rate %> USD</p></li>
    <li><p>Features: <%= @studio.features %></p></li>
    <li><p>Description: <%= @studio.description %></p></li>
    <li><p>Featured Equipment: </p></li>
        <% @studio.equipments.each do |eq| %>
            <h4><%= eq.name %></h4>
            <p>Brand: <%= eq.brand %></p>
            <p>Category: <%= eq.category %></p>
        <% end %>
</ul>

<% if current_user.id == @studio.studio_manager_id %>
    <%= button_to "Edit Studio", edit_studio_path(@studio), method: "get" %>
    <br>
    <%= button_to "Delete Studio", @studio, :method => :delete %>
    <br>
    <%= button_to "Add Studio Session", new_studio_studio_session_path(@studio), method: "get" %>
<% end %>

<% if logged_in? %>
<br>
<%= button_to "Log Out", logout_path, method: "get" %>
<% end %>